<div>
  <h1>File Management Page</h1>
  <div>
    <input type="file" (change)="onFileSelected($event)">
    <button (click)="onUpload()">Upload</button>
  </div>
  <div *ngIf="files && files.length">
    <h2>Uploaded Files</h2>
    <ul>
      <li *ngFor="let file of files">
        {{ file.filename }} - {{ file.filesize }} bytes - {{ file.fileExtension }}
        <button (click)="onDelete(file.fileId)">Delete</button>
        <button (click)="onReplace(file.fileId)">Replace</button>
      </li>
    </ul>
  </div>
  <table mat-table [dataSource]="files" class="mat-elevation-z8">
    <ng-container matColumnDef="fileId">
      <th mat-header-cell *matHeaderCellDef>File ID</th>
      <td mat-cell *matCellDef="let file">{{file.fileId}}</td>
    </ng-container>
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef>Filename</th>
      <td mat-cell *matCellDef="let file">{{file.filename}}</td>
    </ng-container>
    <ng-container matColumnDef="filesize">
      <th mat-header-cell *matHeaderCellDef>Filesize</th>
      <td mat-cell *matCellDef="let file">{{file.filesize}}</td>
    </ng-container>
    <ng-container matColumnDef="filepath">
      <th mat-header-cell *matHeaderCellDef>Filepath</th>
      <td mat-cell *matCellDef="let file">{{file.filepath}}</td>
    </ng-container>
    <ng-container matColumnDef="fileExtension">
      <th mat-header-cell *matHeaderCellDef>File Extension</th>
      <td mat-cell *matCellDef="let file">{{file.fileExtension}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let file">
        <button mat-raised-button color="warn" (click)="onDelete(file.fileId)">Delete</button>
        <button mat-raised-button color="primary" (click)="onReplace(file.fileId)">Replace</button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>